<ion-tabs>
  <!-- Barra de navegación inferior -->
  <ion-tab-bar slot="bottom">
    
    <!-- Pestaña 1: Calendario -->
    <ion-tab-button tab="calendario">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <!-- Pestaña 2: Inicio -->
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- Pestaña 3: Estadísticas -->
    <ion-tab-button tab="estadisticas">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>

    <!-- Pestaña 4: Grabar -->
    <ion-tab-button tab="grabar">
      <ion-icon name="mic"></ion-icon>
      <ion-label>Grabar</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>